body {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h4 {
    color: white;
}

.home-content {
    display: flex;
}

.home-content .image{
    width: 45vw;
}

.home-content .texts {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.btn-primary {
    height: 25px;
    width: 100px;
}